<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395749114288-v9b9lo68acnug7cdlphb079ugq9tccae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395749114288-v9b9lo68acnug7cdlphb079ugq9tccae</string>
	<key>API_KEY</key>
	<string>AIzaSyCmyJLe3lyXL6COJFnNsXg1ee8qfIJm4i0</string>
	<key>GCM_SENDER_ID</key>
	<string>395749114288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tunisiacleanup</string>
	<key>PROJECT_ID</key>
	<string>cleanup-96db1</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanup-96db1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395749114288:ios:e261e965338cf793d81675</string>
</dict>
</plist>